.fade-in{
    animation-name: fade-in;
    animation-duration: 1s ;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1
    }
}